.left-navigation {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 70px;
  }
  .logo{
    margin-bottom: 28px;
  }
  .list li{
    list-style: none;
    padding:0 0 24px 0 ;
    cursor: pointer;
  }

  .user-profile{
    display: flex;
    align-items: end;
    height: 100%;
  }

  @media (max-width:1200px) {
    .left-navigation {
        display: none !important;
    }
    
}