.favourite-container {
  flex: 1;
 
  .favorites-song {
    border-radius: 4px;
    background-color: #ffffff14;
    padding: 10px 20px;
    color: white;
  }

  .image-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
