* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Basier Circle', sans-serif;
}

.app {
  height: 100vh;
  /* height: 100%; */
  /* background: linear-gradient(108.18deg, #201606 2.46%, #000000 99.84%); */
  background:linear-gradient(108.18deg, #33425E 2.46%, #000000 99.84%) !important;
  color: white;
  padding: 32px;
  display: flex;  
}

.pointer{
  cursor: pointer;
}
.w-200{
  width: 230px;
}







.main-section {
  display: flex;
  flex-grow: 1;
  align-content: flex-start;
}

.op-40{
  opacity: 40%;
}
.op-100{
  opacity: 100%;
}

.h-30{
  height: 30px;
}

/* @media (max-width:1200px) {
  .main-section {
    flex-wrap: wrap !important;
    display: block !important;
    
  }
} */

@media (max-width:576px) {
  .app {
    
    padding: 12px !important;
    
  }
  
}
